.container{
    width: 22%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
    cursor: pointer;
    background-color: rgba(221, 174, 126, 1);
    border-radius: 5%;
    margin: 12px;
}

.title{
    font-size: 18px;
    font-weight: bold;
    color: #43AA8B;
}

.price{
    font-size: 18px;
    font-weight: bold;
    color: #43AA8B;
}

.desc{
    text-align: center;
    color: #444;
}

.image{
    border-radius: 5%;
}