.container{
    padding: 50px;
    position: relative;
    display: flex;
    /* background-color:  #254441; */
}

.imageContainer {
    width: 100px;
    height: 100px;
    position: relative;
}

.left{
    flex: 2
}

.right{
    flex: 1
}

.table{
    width: 100%;
    border-spacing: 20px;
    color: #D7BEA8;
}

.name{
    font-weight: 50;
    color:#B93052;
    font-size: 18px; 
    font-weight: bold;
}

.total{
    font-weight: 500;
    font-size: 18px;
    color: #D7BEA8;
}

.wrapper{
    width: 90%;
    max-height: 300px;
    background-color:#B93052;
    padding: 50px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color:#D7BEA8;
    border-radius: 20px;
}

.totalTextTitle{
    margin-right: 10px;
    margin-bottom: 20px;
}

.button{
    height: 30px;
    color:#B93052;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 20px;
    background-color: #D7BEA8;
    border: none;
}

